In [6]:
import pandas as pd
import os

In [8]:
mv_data = pd.read_csv("/Users/yhschan/Desktop/sports analytics/Basketball-case-study-by-HMM/basketball/data/CHA-TOR.csv")

In [15]:
def preprocess_event(data, event_id):
    event_data = data[data['event_id'] == event_id]
    
    time_step = event_data['game_clock'].value_counts().index
    for t in time_step:
        time_t_data = event_data[event_data['game_clock'] == t]

,team_id,player_id,x_loc,y_loc,radius,game_clock,shot_clock,quarter,game_id,event_id,x_loc_original,y_loc_original
0,-1,-1,-201.2734,186.7540,3.64299,711.26,11.99,1,21500492,1,23.42540,45.12734
1,1610612761,2449,110.8853,143.3811,0.00000,711.26,11.99,1,21500492,1,19.08811,13.91147
2,1610612761,201960,114.5297,53.6935,0.00000,711.26,11.99,1,21500492,1,10.11935,13.54703
3,1610612761,200768,-195.1006,160.6838,0.00000,711.26,11.99,1,21500492,1,20.81838,44.51006
4,1610612761,201942,-137.9570,94.1535,0.00000,711.26,11.99,1,21500492,1,14.16535,38.79570
...,...,...,...,...,...,...,...,...,...,...,...,...
2276362,1610612766,101107,-8.4081,219.1371,0.00000,56.39,11.99,4,21500492,527,67.33629,24.15919
2276363,1610612766,201587,64.4405,33.1574,0.00000,56.39,11.99,4,21500492,527,85.93426,31.44405
2276364,1610612766,202689,92.1229,105.4757,0.00000,56.39,11.99,4,21500492,527,78.70243,34.21229
2276365,1610612766,203469,-91.0644,-27.9717,0.00000,56.39,11.99,4,21500492,527,92.04717,15.89356
2276366,1610612766,1626163,-161.7536,22.0838,0.00000,56.39,11.99,4,21500492,527,87.04162,8.82464

In [132]:
def create_team_data_at_time_t(time_t_team_data, event_id, time, ball_x_loc, ball_y_loc):
    column_names = ['event_id', 'game_clock', 'ball_x_loc', 'ball_y_loc']
    row_data = [event_id, time, ball_x_loc, ball_y_loc]
    player_ids = list(time_t_team_data['player_id'].value_counts().index)
    for i in range(1, len(player_ids) + 1):
        player_id = int(player_ids[i - 1])
        x_loc = float(time_t_team_data[time_t_team_data['player_id'] == player_id]['x_loc_original'])
        y_loc = float(time_t_team_data[time_t_team_data['player_id'] == player_id]['y_loc_original'])

        column_player = f"player{i}"
        column_x = f"player{i}_x_loc"
        column_y = f"player{i}_y_loc"

        column_names += [column_player, column_x, column_y]
        row_data += [player_id, x_loc, y_loc]

    new_t_data = pd.DataFrame(columns = column_names)
    new_t_data.loc[0] = row_data
    return new_t_data

In [138]:
event_id = 1

event_data = data[data['event_id'] == event_id]
time_step = event_data['game_clock'].value_counts().index

cleaned_event_data = None
for time in time_step:
    time_t_data = event_data[event_data['game_clock'] == t]
    time_t_team1_data = time_t_data[time_t_data['team_id'] == 1610612761]
    time_t_team2_data = time_t_data[time_t_data['team_id'] == 1610612766]
    
    time_t_ball_data = time_t_data[time_t_data['team_id'] == -1]
    ball_x_loc = float(time_t_ball_data['x_loc_original'])
    ball_y_loc = float(time_t_ball_data['y_loc_original'])
    
    a1 = create_team_data_at_time_t(time_t_team1_data, event_id, time, ball_x_loc, ball_y_loc)
    a2 = create_team_data_at_time_t(time_t_team2_data, event_id, time, ball_x_loc, ball_y_loc)
    time_t_data = pd.concat([a1, a2])
    
    if cleaned_event_data is None:
        cleaned_event_data = time_t_data
    else:
        cleaned_event_data = pd.concat([cleaned_event_data, time_t_data], ignore_index = True)

In [139]:
cleaned_event_data

,event_id,game_clock,ball_x_loc,ball_y_loc,player1,player1_x_loc,player1_y_loc,player2,player2_x_loc,player2_y_loc,player3,player3_x_loc,player3_y_loc,player4,player4_x_loc,player4_y_loc,player5,player5_x_loc,player5_y_loc
0,1.0,711.26,2.28543,4.39596,2449.0,5.62772,5.87473,201960.0,5.73374,43.28594,200768.0,29.07003,39.29628,201942.0,22.24552,21.64748,202685.0,9.67097,29.11568
1,1.0,711.26,2.28543,4.39596,101107.0,6.24964,5.04915,201587.0,4.40631,32.44555,202689.0,10.75216,25.02900,203469.0,7.89709,28.33440,203798.0,14.19829,23.08477
2,1.0,707.50,2.28543,4.39596,2449.0,5.62772,5.87473,201960.0,5.73374,43.28594,200768.0,29.07003,39.29628,201942.0,22.24552,21.64748,202685.0,9.67097,29.11568
3,1.0,707.50,2.28543,4.39596,101107.0,6.24964,5.04915,201587.0,4.40631,32.44555,202689.0,10.75216,25.02900,203469.0,7.89709,28.33440,203798.0,14.19829,23.08477
4,1.0,707.42,2.28543,4.39596,2449.0,5.62772,5.87473,201960.0,5.73374,43.28594,200768.0,29.07003,39.29628,201942.0,22.24552,21.64748,202685.0,9.67097,29.11568
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1.0,709.18,2.28543,4.39596,101107.0,6.24964,5.04915,201587.0,4.40631,32.44555,202689.0,10.75216,25.02900,203469.0,7.89709,28.33440,203798.0,14.19829,23.08477
296,1.0,709.14,2.28543,4.39596,2449.0,5.62772,5.87473,201960.0,5.73374,43.28594,200768.0,29.07003,39.29628,201942.0,22.24552,21.64748,202685.0,9.67097,29.11568
297,1.0,709.14,2.28543,4.39596,101107.0,6.24964,5.04915,201587.0,4.40631,32.44555,202689.0,10.75216,25.02900,203469.0,7.89709,28.33440,203798.0,14.19829,23.08477
298,1.0,705.30,2.28543,4.39596,2449.0,5.62772,5.87473,201960.0,5.73374,43.28594,200768.0,29.07003,39.29628,201942.0,22.24552,21.64748,202685.0,9.67097,29.11568
299,1.0,705.30,2.28543,4.39596,101107.0,6.24964,5.04915,201587.0,4.40631,32.44555,202689.0,10.75216,25.02900,203469.0,7.89709,28.33440,203798.0,14.19829,23.08477

In [141]:
event_data = pd.read_csv("/Users/yhschan/Desktop/sports analytics/Basketball-case-study-by-HMM/basketball/data/CHA-TOR-events.csv")

In [154]:
a = set(event_data[['PLAYER1_ID', 'PLAYER1_NAME']].value_counts().index)
b = set(event_data[['PLAYER2_ID', 'PLAYER2_NAME']].value_counts().index)

In [161]:
event_data

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,...,PLAYER2_TEAM_CITY,PLAYER2_TEAM_NICKNAME,PLAYER2_TEAM_ABBREVIATION,PERSON3TYPE,PLAYER3_ID,PLAYER3_NAME,PLAYER3_TEAM_ID,PLAYER3_TEAM_CITY,PLAYER3_TEAM_NICKNAME,PLAYER3_TEAM_ABBREVIATION
0,21500492,0,12,0,1,7:41 PM,12:00,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
1,21500492,1,10,0,1,7:41 PM,12:00,Jump Ball Valanciunas vs. Zeller: Tip to Lowry,NaN,NaN,...,Charlotte,Hornets,CHA,4,200768,Kyle Lowry,1.610613e+09,Toronto,Raptors,TOR
2,21500492,2,2,101,1,7:42 PM,11:41,MISS Scola 5' Driving Floating Jump Shot,NaN,Zeller BLOCK (1 BLK),...,NaN,NaN,NaN,5,203469,Cody Zeller,1.610613e+09,Charlotte,Hornets,CHA
3,21500492,3,4,0,1,7:42 PM,11:39,Valanciunas REBOUND (Off:1 Def:0),NaN,NaN,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
4,21500492,4,1,87,1,7:42 PM,11:35,Valanciunas Putback Dunk (2 PTS),NaN,NaN,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,21500492,543,3,11,4,9:49 PM,0:16,Lowry Free Throw 1 of 2 (17 PTS),NaN,NaN,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
444,21500492,545,3,12,4,9:50 PM,0:16,Lowry Free Throw 2 of 2 (18 PTS),NaN,NaN,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
445,21500492,548,2,1,4,9:50 PM,0:06,NaN,NaN,MISS Hairston 25' 3PT Jump Shot,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
446,21500492,549,4,0,4,9:50 PM,0:04,Ross REBOUND (Off:1 Def:5),NaN,NaN,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
447,21500492,550,13,0,4,9:50 PM,0:00,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN

In [163]:
player_dict = {}
for i in range(len(list(a))):
    player_id, player_name = list(a)[i]
    player_dict[player_id] = player_name

In [164]:
player_dict

{202689: 'Kemba Walker',
 201960: 'DeMarre Carroll',
 1626163: 'Frank Kaminsky',
 203082: 'Terrence Ross',
 201587: 'Nicolas Batum',
 203148: 'Brian Roberts',
 203087: 'Jeremy Lamb',
 201949: 'James Johnson',
 203469: 'Cody Zeller',
 61: 'Carl Herrera',
 201942: 'DeMar DeRozan',
 201946: 'Tyler Hansbrough',
 101107: 'Marvin Williams',
 202709: 'Cory Joseph',
 202335: 'Patrick Patterson',
 202685: 'Jonas Valanciunas',
 202687: 'Bismack Biyombo',
 200768: 'Kyle Lowry',
 203798: 'PJ Hairston',
 2449: 'Luis Scola'}

In [166]:
cleaned_event_data
for i in range(len(cleaned_event_data)):
    var_names = ['player1', 'player2', 'player3', 'player4', 'player5']

300

In [168]:
cleaned_event_data.iloc[0]

event_id              1.00000
game_clock          711.26000
ball_x_loc            2.28543
ball_y_loc            4.39596
player1            2449.00000
player1_x_loc         5.62772
player1_y_loc         5.87473
player2          201960.00000
player2_x_loc         5.73374
player2_y_loc        43.28594
player3          200768.00000
player3_x_loc        29.07003
player3_y_loc        39.29628
player4          201942.00000
player4_x_loc        22.24552
player4_y_loc        21.64748
player5          202685.00000
player5_x_loc         9.67097
player5_y_loc        29.11568
Name: 0, dtype: float64